@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (max-width: 480px) {
    html {font-size: 14px;}
}

@media screen and (max-width: 400px) {
    html {font-size: 12px;}
}

#app {
    opacity: 1;
    transition: 0.25s ease opacity;
}

#app.dark {
    opacity: 0.3;
}

#alertmessage {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    max-width: 95%;
    text-align: center;

    padding: 1rem;

    background-color: var(--alertbg);
    border: 2px solid var(--alertborder);
    border-radius: 4px;
    line-height: 0.8;
    color: var(--alertborder);
    font-weight: bold;
    font-size: 1.25rem;

    --alertbg: rgb(241, 200, 200);
    --alertborder: rgb(185, 0, 0);

    transform: translate(-50%,-50%);
}

#alertmessage.success {
    --alertbg: rgb(69, 252, 145);
    --alertborder: rgb(8, 83, 61);
}